<div>
  <div id=info>
    info component
  </div>
  <ul class="list-group">
    <li class="list-group-item" routerLink="/battleground">
      <a>Battleground</a>
    </li>
    <li class="list-group-item" routerLink="/barracks">
      <a>Barracks</a>
    </li>
    <li class="list-group-item" routerLink="/buildings">
      <a>Buildings</a>
    </li>
    <li class="list-group-item" routerLink="/achievements">
      <a>Achievements</a>
    </li>
    <li class="list-group-item" routerLink="/evolve">
      <a>Evolve</a>
    </li>
    <li class="list-group-item" routerLink="/options">
      <a>Options</a>
    </li>
  </ul>
</div>